Hello Chetan
<p>Product Name <%= @product.product_name %></p>
<p>Product Name <%= @product.product_description %></p>
<p>Product Name <%= @product.product_price %></p>
<p>Product Name <%= @product.product_in_strock %></p>
